<ion-view view-title="Details for {{book.bookName}}" cache-view='false' id="book-detail-element" ng-init="messageShown = false" book-details>
<ion-nav-bar>
<ion-nav-buttons side="left">
     <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"> Back</i> 
    </button>
</ion-nav-buttons>
</ion-nav-bar>
<ion-content>
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="{{book.img}}">
    <h2>{{book.bookName}}</h2>
  </div>
  <div class="item item-body">
    <p ng-bind-html = "book.description">
    </p>
    <p>
    Posted By: {{isMe || book.postedBy.name}}
    </p>
  </div>
</div>
<div class="padding" ng-show="isPostedByMe && messageCount">
    <ion-button class="button button-block button-positive ios ion-android-textsms" ng-click="getMessages(book.bookId)" ng-hide="messageShown"><span class="col-offset-5"><span class="padding">Show Messages - {{messageCount}}</span></span></ion-button>
    <ion-button class="button button-block button-energized ios ion-android-textsms" ng-click="hideMessages()" ng-show="messageShown"><span class="col-offset-5"><span class="padding">Hide Messages</span></span></ion-button>
</div>
<div class="padding" ng-hide="isPostedByMe">
    <button type="button" ng-show="!isInterested" class="button button-block button-positive"  ng-click="addBook(book.bookId, book.orderType)"><i class="icon ion-social-buffer"></i> <span class="col-offset-5">Add to my Interest list</span></button>
    <button type="button" class="button button-block button-assertive" ng-show="isInterested" ng-click="removeBook(book.bookId)"><span>Remove from my interest list</button>
    <ion-button class="button button-block button-calm" ng-hide="showMessage" ng-click="showMessageDiv()"><span>Contact Seller</span></ion-button>
</div>
<div ng-class="padding" ng-show="showMessage">
    <form name="sendMessage" novalidate>
            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea rows=6 name="message" ng-model="fields.message" maxlength=250 required>
                </textarea>
            </label>
        <div class="padding">
            <!--p ng-show="sendMessage.message.$error.required">* Message is Required</p-->
        </div>
        <div class="padding">
            <ion-button class="button button-block button-positive icon ion-paper-airplane" ng-disabled="sendMessage.$invalid" ng-click="messageUser(book.bookId, bookName)">   Send Message</ion-button>
        </div>
    </form>
  </div>
</div>
<ion-messages messages="messages" {{orderBy : message.creationDate : reverse}}>
</ion-messages>
</ion-content>
</ion-view>
