<ion-view view-title="Details for {{book.bookName}}" cache-view='false' id="book-detail-element" book-details>
<ion-nav-bar>
<ion-nav-buttons side="left">
     <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"> Back</i> 
    </button>
</ion-nav-buttons>
</ion-nav-bar>
<ion-content>
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="{{book.img}}">
    <h2>{{book.bookName}}</h2>
  </div>
  <div class="item item-body">
    <p>
    {{book.description}}
    </p>
    <p>
    Posted By: {{isMe || book.postedBy.name}}
    </p>
  </div>
</div>
<div class="padding" ng-hide="isPostedByMe">
    <button type="button" ng-show="!isInterested" class="button button-block button-positive"  ng-click="addBook(book.bookId, book.orderType)"><i class="icon ion-social-buffer"></i> <span class="col-offset-5">Add to my Interest list</span></button>
    <button type="button" class="button button-block button-assertive" ng-show="isInterested" ng-click="removeBook(book.bookId)"><span>Remove from my interest list</button>
</div>
</ion-content>
</ion-view>
