<ion-view view-title="Details for {{book.bookName}}" cache-view='false' id="book-detail-element" book-details>
<ion-nav-bar>
<ion-nav-buttons side="left">
     <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"> Back</i> 
    </button>
</ion-nav-buttons>
</ion-nav-bar>
<ion-content>
<div class="list card">
  <div class="item item-avatar">
    <img ng-src="{{book.img}}">
    <h2>{{book.bookName}}</h2>
  </div>
  <div class="item item-body">
    <p>
    {{book.description}}
    </p>
  </div>

</div>
</ion-content>
</ion-view>
