<ion-view view-title="My Catalouge" cache-view="false">
  <!--ion-tabs class="tabs-top tabs-icon tabs-positive">
         <ion-tab title="Books Needed" href="#/tab/account/booksneeded">
           <ion-nav-view name="books-needed"></ion-nav-view>
         </ion-tab>
         <ion-tab title="My Books">
             <ion-nav-view name=""></ion-nav-view>
         </ion-tab>
  </ion-tabs-->
  <ion-content>
  <ion-books-list mybooks="mybooks">
  </ion-books-list>
  </ion-content>
  <ion-footer-bar class="bar">
    <button class="button button-full button-positive button-footer br-5" id="place-new-order" ng-click="placeOrder()">
      <strong>Enter Buy/Sell Request</strong>
    </button>
  </ion-footer-bar>
</ion-view>
